*
{
    margin:0px;
    padding: 0px;
}
.container{
    display: grid;
    grid-template-columns: 600px 100px 100px 140px 180px;
    grid-gap:1rem;
    height: 30px;
    width: 100vw;
    background-color:rgb(114, 187, 236);
    justify-content:center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 12px;
}
.item{
    width: 20px;
    height:10px ;
    padding: 7px;
}
.item ul
{
    list-style: none;
    top:10px;
    left:20px;
    position: relative;  
}
.item ul li{
    background-color:rgb(114, 187, 236);
    width:150px;
    height: 25px;
    border: 1px solid white;
    display:none;
    color:antiquewhite;
    right:40px;
    position: relative;
    text-align: center;
    padding-top:10px;
}
.item ul li:hover
{
    opacity: 0.65;

}
.item:hover > ul li
{
    display:block;
    

}
.item a{
    border: 1px solid white;
    padding: 10px;
}
.item1{
padding: 7px;
}
 .container a{
    text-decoration: none;
    color: white;
 }
 .container div a:hover{
    opacity: 0.65;
}
p{   margin:0px;
    padding:0px;
    position: relative;
    top:18px;
    right:60px;
}
#p1{
    font-family:Algerian;
    font-size:20px;
}
#p2{
    left:-18px;
    position: relative;
}

.container1{
    margin: 0px;
    padding: 0px;
    display: grid;
    grid-template-columns: 150px 500px 100px 100px 100px 150px;
    grid-gap:1rem;

    height: 40px;
    width: 100vw;
    background-color:white;
    justify-content:center;
    
}
.container1 a{
    text-decoration: none;
    color: black;
    padding: 5px;
}
.container1 a:hover{
   opacity:0.6;
}
.box1{
    width: 20px;
    height:10px ;
    padding: 5px 20px;

}
.box{
    width: 20px;
    height:10px ;
        padding: 35px 5px;
    font-weight: bold;
    }

#box1{
    width: 40px;
    height: 40px;
}
.container3 {
    width: 100vw;
    height: 400px;
    position:relative;
    top:40px; 
    z-index: -1;
    background-image: url("lib1 (1).jpg");
    background-size: 100% 100%;
    animation:changeimage 40s infinite 7s forwards;
    
    
   
}
@keyframes changeimage{
    0%{
        background-image: url("lib1 (1).jpg");
    }
    25%{
        background-image: url("lib1 (2).jpg");
    }
    50%{
        background-image: url("lib1 (3).jpg");
    }
    75%{
        background-image: url("lib1 (2).jpg");
    }
    100%{
        background-image: url("lib1 (3).jpg");
    }
    
}

/*.container3
{
    position:relative;
 top:40px; 
 z-index: -1;
}*/
.container4{
    display: grid;
    grid-template-columns: 200px 130px 150px 100px;
    background-color:rgb(114, 187, 236);
    width:100vw ;
    height: 40px;
    position: relative;
    top: 37px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    
}
.menu2 a{
    text-decoration: none;
    border-radius: 5px;
    color:white;
    padding: 5px;
        font-weight: 50;
}