*
{
    margin:0px;
    padding: 0px;
}
.container{

    display: grid;
    grid-template-columns: 600px 100px 100px 140px 180px;
    grid-gap:1rem;

    height: 30px;
    width: 100vw;
    background-color:rgb(114, 187, 236);
    justify-content:end;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 12px;
  
}
.item{

    width: 20px;
    height:10px ;
    padding: 7px;
   

}
.item ul
{
    list-style: none;
    top:10px;
    left:20px;
    position: relative;
    
}
.item ul li{
    background-color:rgb(114, 187, 236);
    width:150px;
    height: 25px;
    border: 1px solid white;
    display:none;
    color:antiquewhite;
    right:40px;
    position: relative;
    text-align: center;
}
.item:hover > ul li
{
    display:block;
    

}
.item a{
    border: 1px solid white;
    padding: 10px;
}
.item1{
padding: 7px;
}
 .container a{
    text-decoration: none;
    color: white;
 }





.container1{
    margin: 0px;
    padding: 0px;
    display: grid;
    grid-template-columns: 700px 100px 100px 100px 150px;
    grid-gap:1rem;

    height: 40px;
    width: 100vw;
    background-color:white;
    justify-content:end;

}
.box1{
    width: 20px;
    height:10px ;
    padding: 5px 20px;

}
.box{
    width: 20px;
    height:10px ;
        padding: 35px 5px;
    font-weight: bold;
    }

#box1{
    width: 40px;
    height: 40px;
    
    
}
.container3 img{
    width: 100vw;
    height: 400px;
    padding-top: 40px;
}
.about
{
    margin: 100px;
    left:38%;
    border:1px solid grey;
}
.about ul
{
    list-style: none;
}
.container div:hover
{
    opacity:0.65;
}